*.iml
/idea
.idea/misc.xml
*.xml
ckpt
log
__pycache__
*.pyc
/env
/data/HeadPoseImageDatabase
figs
figs2
toy_pics
toy_pairs
.DS_Store
/data/sd18
/data/colorferet
*.zip
recon_outputs
recon_dual_outputs
recon_dual_weakim_outputs
