*.iml
/idea
.idea/misc.xml
*.xml
ckpt
log
__pycache__
*.pyc
/env
/data/HeadPoseImageDatabase
figs
figs2
toy_pics
toy_pairs
.DS_Store
/data/sd18
/data/colorferet
*.zip
recon_outputs
recon_dual_outputs
recon_dual_weakim_outputs
recon_dual_weakim_weakgauss_outputs
more_gaussians
summaries
noim_summaries
outputs
final_0002image_001gauss_5train_gaussianlabels_decoder_5gauss_1image_5dropout_noise_start300_prop302
final_0002image_001gauss_5train_gaussianlabels_decoder_5gauss_1image_5dropout_noise_start1000_prop1002
face_summaries
emotion_data/fer2013.csv
lfw/lfw_data
mnist_losses
mnist_recons
lfw_recons
more_lfw_gaussians
lfw_ckpt_2000
lfw_losses
lfw_thousand_ckpt
autoencoded_lfw_samples


*.png
